<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td width="93">Before Starting</td>  <td width="268"><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr>
		  <td>9:00 - 9:30</td>
		  <td>Tech Setup Help (for those who need it)</td>
	  </tr>
      <tr>
		  <td>9:30 - 9:35</td> 
		  <td>Welcome and Code of Conduct</td>
		</tr>
      <tr>
	    <td>9:35 - 10:45</td>		  <td>Tidy data for librarians</td>

	 </tr>
      <tr> <td>10:45 - 11:00</td>
		  <td>Morning Break</td>
	  </tr>
		<tr> <td>11:00 - 12:00</td>	  
        <td>Tidy data for librarians</td> 
      </tr>
      <tr> <td>12:00 - 1:00</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00 - 3:00</td>  <td>Introduction to Working with Data (Regular Expressions)</td> </tr>
      <tr>
        <td>3:00 - 3:30</td>
        <td>End Day 1 & One Up/One Down</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
		  <td width="92">9:00 - 9:30</td>
		  <td width="365">Tech Setup Help (for those who need it)</td>
	  </tr>
      <tr>
		  <td>9:30 - 9:35</td> 
		  <td>Welcome to Day 2</td>
		</tr>
      <tr>
	    <td>9:35 - 10:45</td>
		  <td>OpenRefine</td>
	 </tr>
      <tr> <td>10:45 - 11:00</td>
		  <td>Morning Break</td>
	  </tr>
		<tr> <td>11:00 - 12:00</td>
      <td>OpenRefine</td> 
      </tr>
      <tr> <td>12:00 - 1:00</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00 - 3:00</td>  <td>OpenRefine</td> </tr>
      <tr>
        <td>3:00 - 3:30</td>
        <td>End Day 2 & One Up/One Down</td>
      </tr>
    </table>
  </div>
</div>
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
		  <td width="92">9:00 - 9:30</td>
		  <td width="365">Tech Setup Help (for those who need it)</td>
	  </tr>
      <tr>
		  <td>9:30 - 9:35</td> 
		  <td>Welcome to Day 3</td>
		</tr>
      <tr>
	    <td>9:35 - 10:45</td>
		  <td>SQL</td>
	 </tr>
      <tr> <td>10:45 - 11:00</td>
		  <td>Morning Break</td>
	  </tr>
		<tr> <td>11:00 - 12:00</td>
      <td>SQL</td> 
      </tr>
      <tr> <td>12:00 - 1:00</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00 - 3:00</td>  <td>SQL</td> </tr>
      <tr>
        <td>3:00 - 3:30</td>
        <td>End Day 3 & Workshop</td>
      </tr>
    </table>
  </div>
</div>
